@model Web.ViewModels.CartViewModel
@{
    ViewData["Title"] = "Index";
}



<h1>Kundvagn</h1>



    @foreach (var item in Model.CartItems)
    {
        <div class="card mb-3" style="max-width: 540px;max-height=150px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="@item.Product.ImgSrc" class="card-img" alt="@item.Product.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Product.Name</h5>
                        <p class="card-text">@item.Product.Description</p>
                        <p class="card-text">Antal: @item.Quantity</p>
                        
                        <p class="card-text"><small class="text-muted">Pris: @item.Product.Price</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
<form method="post" asp-action="PlaceOrder">
    <input class="btn btn-secondary" type="submit" value="Beställ" />
</form>
