@model Web.ViewModels.CartViewModel
@{
    ViewData["Title"] = "Index";
}



<h1>Kundvagn</h1>


<div class="row">
    <h3 class="col"></h3>
    <h3 class="col">Namn</h3>
    <h3 class="col">Antal</h3>
    <h3 class="col">Pris</h3>
</div>
    <hr />
@foreach (var item in Model.CartItems)
{
    <div class="row">
        <div class="col"><img src="@item.Product.ImgSrc" class="img-thumbnail" style="max-height:100px;max-width:100px;min-height=100px;min-width:100px;" alt="@item.Product.Name"></div>

        <h5 class="col ">@item.Product.Name</h5>
        <p class="col">@item.Quantity</p>

        <p class="col"><small class="text-muted">@item.Product.Price</small></p>
    </div>
}

@if (User.Identity.IsAuthenticated && Model.CartItems.Any())
{
    <form method="post" asp-action="PlaceOrder">
        <input class="btn btn-secondary" type="submit" value="Beställ" />
    </form>
}
